.header {
  position: relative;
  min-height: 756px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #f2f2f2;
  overflow: hidden;
}







